<h2>All Employees</h2>
<div *ngIf="employees && employees.length > 0">
    <table id="employee">
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Gender</th>
            <th colspan="3">Action</th>
        </tr>
        <tr *ngFor="let e of employees">
            <td>{{e.employeeId}}</td>
            <td>{{e.name}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.gender}}</td>
            <td> <button (click)="deleteEmployee(e.employeeId)">Delete</button> </td>
            <td> <button (click)="updateEmployee(e.employeeId)">Update</button> </td>
            <td> <button (click)="getEmployeeDetails(e.employeeId)">Details</button> </td>
        </tr>
    </table>
</div>