<h2>New Employee</h2>
<div [hidden]="isVisible">
  <form (submit)="addNewEmployee()">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name.." [(ngModel)]="employee.name">
    <div *ngIf="hasValidationError('name')">
      {{getValidationErrorMessage('name')}}
    </div>

    <label for="salary">Salary</label>
    <input type="text" name="salary" placeholder="Your salary.." [(ngModel)]="employee.salary">
    <div *ngIf="hasValidationError('salary')">
      {{getValidationErrorMessage('salary')}}
    </div>


    <label for="dateOfBirth">Date of Birth</label>
    <input type="date" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth">
    <div *ngIf="hasValidationError('dateOfBirth')">
      {{getValidationErrorMessage('dateOfBirth')}}
    </div>

    <label for="department">Select Department</label>
    <select name="department" [(ngModel)]="employee.departmentDTO.departmentId">
      <option value="-">Select Department</option>
      <option *ngFor="let d of departments" value="{{d.departmentId}}">{{d.departmentName}}</option>
    </select>

    <div *ngIf="employee.departmentDTO.departmentId == '-'">
      Select Department Name
    </div>

    <label for="gender">Select Gender</label>
    <select name="gender" [(ngModel)]="employee.gender">
      <option value="-">Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <div *ngIf="hasValidationError('gender')">
      {{getValidationErrorMessage('gender')}}
    </div>

    <label for="state">State </label>
    <select name="state" [(ngModel)]="employee.state">
      <option value="-">Select State</option>
      <option *ngFor="let s of states" value="{{s}}">{{s}}</option>
    </select>
    <div *ngIf="hasValidationError('state')">
      {{getValidationErrorMessage('state')}}
    </div>

    <label for="emailId">Email</label>
    <input type="email" name="emailId" placeholder="Your Email.." [(ngModel)]="employee.emailId">
    <div *ngIf="hasValidationError('emailId')">
      {{getValidationErrorMessage('emailId')}}
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
<div [hidden]="!isVisible">
  <br>
  <h4>{{responseDTO.responseMessage}}</h4>
  <br>
  <button (click)="backToHome()">Back to Home</button>
</div>